/*
/*/
!RegexGenerator.cpp
!RegexGenerator.h
!RegexListGenerator.cpp
!RegexListGenerator.h
!RegularDefinition.cpp
!RegularDefinition.h
!RegularExpression.cpp
!RegularExpression.h
!InputProcessor.cpp
!InputProcessor.h
!TestMain.cpp
!RegexGenerationStrategy.cpp
!RegexGenerationStrategy.h
!a.txt
#to add your file "!file-name"
!DFA.h
!NFA.h
!DFA_minimization.h